// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        norsk_AO: norsk_AO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT &kp KP_NUMBER_0 &kp KP_NUMBER_2 &kp KP_NUMBER_2 &kp KP_NUMBER_9>,
                <&macro_release>;

            label = "NORSK_AO";
        };
        norsk_AO_cap: norsk_AO_cap {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT &kp KP_NUMBER_0 &kp KP_NUMBER_1 &kp KP_NUMBER_9 &kp KP_NUMBER_7>,
                <&macro_release>;

            label = "NORSK_AO_CAP";
        };
    };

    behaviors {
        caps_esc: caps_esc {
            compatible = "zmk,behavior-tap-dance";
            label = "CAPS_ESC";
            #binding-cells = <0>;
            bindings = <&kp ESCAPE>, <&kp TAB>, <&sys_reset>, <&sys_reset>;

            tapping-term-ms = <500>;
        };
        Layer_hold: Layer_hold {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_HOLD";
            bindings = <&lt>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <100>;
            flavor = "balanced";
            hold-trigger-key-positions = <31>;
        };
        AO: AO {
            compatible = "zmk,behavior-tap-dance";
            label = "AO";
            #binding-cells = <0>;
            bindings = <&norsk_AO>, <&norsk_AO_cap>;

            tapping-term-ms = <170>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp Q  &kp W            &kp F            &kp P            &kp G                      &kp J                 &kp L              &kp U      &kp Y    &kp SEMI
&kp A  &Layer_hold 4 R  &Layer_hold 5 S  &Layer_hold 2 T  &mt D LEFT_GUI             &kp H                 &kp N              &kp E      &kp I    &kp O
&kp Z  &mt LEFT_ALT X   &kp C            &kp V            &kp B                      &kp K                 &kp M              &kp COMMA  &kp DOT  &kp FSLH
                                         &mt LCTRL ENTER  &Layer_hold 1 BACKSPACE    &mt LEFT_SHIFT SPACE  &Layer_hold 3 TAB
            >;
        };

        layer_1 {
            bindings = <
&caps_esc  &kp F9      &trans     &trans      &trans    &trans             &kp UP             &trans       &trans         &kp LS(CARET)
&AO        &kp LSHIFT  &kp LCTRL  &trans      &trans    &kp LEFT           &kp DOWN           &kp RIGHT    &kp LS(DLLR)   &kp LS(POUND)
&trans     &trans      &trans     &trans      &trans    &trans             &kp LS(LEFT)       &kp LA(END)  &kp LS(PRCNT)  &kp BSLH
                                  &kp LS(AT)  &trans    &kp LS(LC(SPACE))  &kp LS(LC(SPACE))
            >;
        };

        layer_2 {
            bindings = <
&trans    &trans     &kp F2     &trans   &trans          &kp PLUS   &kp N1   &kp N2  &kp N3  &kp STAR
&kp LALT  &kp LSHFT  &kp LCTRL  &trans   &trans          &kp MINUS  &kp N4   &kp N5  &kp N6  &kp FSLH
&trans    &trans     &trans     &trans   &trans          &kp DOT    &kp N7   &kp N8  &kp N9  &kp EQUAL
                                &kp RET  &kp LC(BSPC)    &kp N0     &kp TAB
            >;
        };

        layer_3 {
            bindings = <
&kp LALT   &kp F1  &kp F2  &kp F3  &kp F10         &trans         &kp PG_UP  &trans   &trans  &trans
&kp LCTRL  &kp F4  &kp F5  &kp F6  &kp F11         &kp HOME       &kp PG_DN  &kp END  &trans  &trans
&kp LSHFT  &kp F7  &kp F8  &kp F9  &kp F12         &kp LC(LA(I))  &trans     &trans   &trans  &trans
                           &trans  &kp LC(BSPC)    &kp BSPC       &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                        &trans  &trans    &trans  &trans
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans         &trans  &trans       &trans       &trans  &trans        &trans        &trans  &trans
&trans  &kp LS(LG(S))  &trans  &trans       &trans       &trans  &kp LS(LPAR)  &kp LS(RPAR)  &trans  &trans
&trans  &trans         &trans  &trans       &trans       &trans  &trans        &trans        &trans  &trans
                               &kp LS(RET)  &kp SPACE    &trans  &trans
            >;
        };
    };
};
